<div class="container">
  <form [formGroup]="service.userForm">
    <div class="row">
      <div class="col-md-6">
        <label class="required"> First Name</label>
        <input type="text" id="fname" placeholder="Your name.." formControlName="first_name">
      </div>
      <div class="col-md-6">
        <label class="required">Last Name</label>
        <input type="text" id="lname" placeholder="Your last name.." formControlName="last_name">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label class="required">Date of birth</label>
        <input type="date" placeholder="Your date of birth.." formControlName="date_of_birth">
      </div>
      <div class="col-md-6">
        <label class="required">Email</label>
        <input type="text" placeholder="Your email.." formControlName="email">
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <label class="required">Gender</label>
        <select placeholder="Your gender.." formControlName="gender" required>
          <option *ngFor="let g of genders" [value]="g">{{g}}</option>
        </select>
      </div>
      <div class="col-md-6">
        <label class="required">Phone</label>
        <input type="text" placeholder="Your phone number.." formControlName="phone_number">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Username</label>
        <input type="text" placeholder="Choose your username.." formControlName="username">
      </div>
      <div class="col-md-6">
        <label>Social insurance</label>
        <input type="text" placeholder="Your Social insurance number.." formControlName="social_insurance_number">
      </div>
    </div>

    <div style="text-align:center">
      <label>Avatar</label>

      <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
      <div><img [src]="url" *ngIf="url"></div>
      <p>
        <input type="file" (change)="selectFile($event)">
      </p>
    </div>
    <button mat-button (click)="service.editList()"
            [disabled]="service.userForm.invalid" color="primary">{{service.user ? 'Edit' : 'Save'}}</button>
    <button mat-button [mat-dialog-close]="true" >Cancel</button>
  </form>
</div>
