<app-header></app-header>
<div *ngIf="service.users">
  <div class="container" *ngFor="let user of service.users">
    <div class="row">
      <div class="col-md-1">
        <p>ID: {{user.id}}</p>
      </div>
      <div class="col-md-5 img">
        <img [src]="user.avatar" alt="" class="img-rounded">
      </div>
      <div class="col-md-6 details">
          <p>Full Name: {{user.first_name}}, {{user.last_name}}</p>

        <p>
          Email:   {{user.email}} <br>
          Phone:  {{user.phone_number}} <br>
          Gender:  {{user.gender}} <br>
          Birth:  {{user.date_of_birth}} <br>

        </p>
        <div>
          <button mat-button (click)="edit(user)" color="primary">Edit</button>
          <button mat-button (click)="delete(user.id)" color="warn">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
