
<app-header></app-header>
<div *ngIf="users">
  <div class="container" *ngFor="let user of users">
    <div class="row">
      <div class="col-md-6 img">
        <img [src]="user.avatar" alt="" class="img-rounded">
      </div>
      <div class="col-md-6 details">
        <blockquote>
          <h5>{{user.first_name}}, {{user.last_name}}</h5>
          <small><cite title="Source Title"> {{user.address.country}},{{user.address.city}}
            , {{user.address.street_name}}<i class="icon-map-marker"></i></cite></small>
        </blockquote>
        <p>
          {{user.email}} <br>
         {{user.phone_number}} <br>
        </p>
        <div>
          <button mat-button >Edit</button>
          <button mat-button (click)="delete(user.id)" color="warn">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
